<header>
  <h1>SNIP42</h1>
  <h3>Pure and Simple Bookmarking.</h3>
  <hr/>
</header>

<h3>Just send in your links. No Signup Necessary.&#0153;</h3>  
<div class="options">    
  <section>
    <h2>via EMAIL</h2>
    <p>Mail links to <a href="mailto:snip@snip42.com"><b>snip@snip42.com</b></a></p>
    <a class="login" href="/auth/browser_id">login via email &gt;</a>
  </section>
  <section>
    <h2>via TWITTER</h2>
    <p>Tweet links <a href="http://twitter.com/snip42"><b>@snip42</b></a></p>
    <a class="login" href="/auth/browser_id">login via twitter &gt;</a>
  </section>    
</div>
<p>You can access your links later by logging in using the same ID you sent them from. You can also combine multiple accounts into one whenever you want.</p>
<hr/>
