
$baseColor: #333;
$light: #aaa;
$primaryColor: #991B1A;
$small: max-width 700px 1;

div.container {
   @include outer-container;
}

a {
  color: $primaryColor;
  text-decoration: none;
  border-bottom: thin dotted $primaryColor;
  &:hover {
    border-bottom: thin solid $primaryColor;
  }
}

body {
  color: $baseColor;
}

hr {
  margin: 1.618rem 0;
}