<!DOCTYPE html>
<html>
<head>
<title>Snip</title>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
 <div class="container">
  <%= yield %>
  <footer>
  <p>SNIP42 is currently an experimental free service, created by an individual for other individuals. To help pay the bills I'm planning to either have sponsored recommedations or paid accounts with extra features: search, API access, etc. If you like the service enough to have a strong opinion on this, or for any other feedback, contact <a href="mailto:feedback@snip42.com">feedback@snip42.com</a></p>
  <p><b>Created By <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a></b></p>
  <p><b>Terms and Conditions:</b> Don't sue me. For any reason. Ever.</p>
  <p><b>Privacy Policy:</b> None of your personal data or bookmarks will be sold or given to anyone. SNIP42 might perform <a href="http://en.wikipedia.org/wiki/Association_rule_learning">automated analysis</a> on it to recommend new links (sponsored or otherwise) to you.</p>
</footer>

</div> 
</body>
</html>